*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  max-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #1992d4;
  padding: 0.75rem;
  grid-row: 1 / span 2;
}

.sidebar > a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-decoration: none;
  color: inherit;
}

.sidebar-icon {
  margin: auto;
}

.sidebar-icon.large {
  font-size: 42px;
}

.sidebar-icon.medium {
  font-size: 24px;
}

.sidebar-text {
  margin: auto 0;
  font-weight: 500;
}

.pad-btm-lg {
  padding-bottom: 40px;
}

.pad-btm-md {
  padding-bottom: 16px;
}

.header {
  box-shadow: 0px 5px 8px -2px #898989;
  z-index: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 24px 40px;
  font-size: 24px;
  gap: 16px;
}

.search-input {
  background-color: #e2e8f0;
  border: transparent;
  border-radius: 24px;
  font-size: inherit;
  flex: 1 1 auto;
  margin-right: 40px;
  padding: 6px;
}

.search-input:active {
  border-color: #1992d4;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic.medium {
  width: 45px;
  height: 45px;
}

.profile-pic.large {
  width: 72px;
  height: 72px;
}

.user {
  display: flex;
  align-items: center;
  margin: 24px 40px;
  gap: 16px;
}

.button-container {
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.button-container > button {
  background-color: #1992d4;
  color: white;
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.button-container > button:hover {
  background-color: hsl(201, 79%, 51%);
}

.button-container > button:active {
  background-color: hsl(201, 79%, 56%);
}

.main-content-container {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  background-color: #e2e8f0;
  padding: 24px;
  gap: 24px;
}

.main-content-left {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 31.333%);
  grid-auto-rows: 31.333%;
  /* gap: 24px; */
  gap: 3%;
  overflow: auto;
  padding-right: 24px;
  padding-bottom: 24px;
}

.project-card {
  border-left: 5px solid #f0b429;
  background-color: white;
  box-shadow: 0px 2px 8px -2px #898989;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 8px;
}

.project-card > p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  opacity: 0.7;
}

.project-link-container {
  display: flex;
  gap: 24px;
  font-size: 24px;
  justify-content: flex-end;
}

.grid-title {
  grid-column: 1/-1;
}

.misc-container {
  display: grid;
  grid-template-rows: repeat(2, 45.75%);
  gap: 5%;
}

.misc-container > div {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
}

.announcements {
  background: white;
  display: flex;
  overflow: auto;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 8px -2px #898989;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* flex-basis: 25%; */
  flex-shrink: 0;
  flex-grow: 1;
  max-height: 25%;
}

.announcement > p {
  font-size: 12px;
}

.announcements hr {
  margin: 5px 0;
}

.announcement > p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  opacity: 0.7;
}

.trending {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 8px -2px #898989;
}

.trending > * {
  display: flex;
  gap: 15px;
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 20%;
}

.trending a {
  text-decoration: none;
  color: inherit;
}

.trending img {
  border-radius: 50%;
}

.trending img + div {
  margin: auto 0;
}

.trending img + div > p {
  opacity: 0.7;
}
